
<div class="help">
    <h2>Forgot Password</h2>
    <ng-container *ngIf="!resetLinkSent; else linkSentMessage">
      <!-- Display the form if the reset link has not been sent -->
      <p>Enter your email address to reset your password:</p>
      <form (ngSubmit)="onSubmit()">
        <div class="form-group">
          <label for="email">Email:</label>
          <input type="email" id="email" name="email" [(ngModel)]="email" required>
        </div>
        <button type="submit">Reset Password</button>
      </form>
    </ng-container>
    <ng-template #linkSentMessage>
      <!-- Display a message if the reset link has been sent -->
      <p>A password reset link has been sent to your email. Please check your inbox and follow the instructions to reset your password.</p>
    </ng-template>
  </div>